.Header_div {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap:20rem;
    position: fixed;
    top:0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 5%;
    color: white;
    padding: 25px 40px;
    font-size: larger;
}

.right_section{
    display: flex;
    justify-content: space-between;
    gap:20px;
}

.searchBar{
    height: 40px;
    width: 30%;
    font-size: 18px;
    padding-left: 10px;
    border-radius: 25px;
}





